{% extends "base.html" %}
{% block content %}
<div class="search-container">
  <form action="{% url 'home' %}" method="GET">
    <input class="search-box" type="text" name="search" placeholder="Search...">
    <button id="search-button" class="search-btn" type="submit">Search</button>
  </form>
</div>

<div class="search-results">

</div>
<script>
  $('#search-button').click(function(event) {
    event.preventDefault();
    var query = $('#search-box').val();
    $.ajax({
      url: 'http://localhost:8000/search/',
      data: {
        'query': query
      },
      success: function(data) {
        if(data.results == ''){
          data.results = "No results found."
        }

        display_response = data.results

        $('.search-results').html("<h2>Answer : </h2>" + data.results);
        $('.search-results').show();
      }
    });
  });
</script>
{% endblock %}
